
* {
    color: white;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.links {
    display: flex;
    gap: 45px;
}


button {
    align-self: flex-start;
    background-color: red;
}

img {
    margin: 5px;
    max-width: 350px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-block-container {
    display: flex;
    align-items: space-around;
}

.text-block {
    text-align: center;
}

#quote {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#sign-up-button {
    align-self: center;
}

.row-container {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

.quote-container {
    width: 300px;
    word-wrap: break-word;
    margin: 50px;
    align-self: center;
}
