body {
    background-color: #000000;
    color: white;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    gap: 50px;
}

header {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.header-top {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.links {
    display: flex;
    gap: 45px;
}


button {
    align-self: flex-start;
    background-color: red;
}

img {
    margin: 5px;
    max-width: 350px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-block-container {
    display: flex;
    align-items: space-around;
}

.text-block {
    text-align: center;
}

#quote {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#sign-up-button {
    align-self: center;
}

.row-container {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 25px;
}

.copyright {
    align-self: flex-end;
}

.copyright:hover {

    transform: scale(1.3);

    -webkit-transition: transform 0.35s ease-in-out;
    -moz-transition:transform 0.35s ease-in-out;
    -ms-transition:transform 0.35s ease-in-out;
}

.mad {
    display: inline-flex;
}

.mad:hover {
    transform: scale(6);

    -webkit-transition: transform 0.75s ease-in-out;
    -moz-transition:transform 0.75s ease-in-out;
    -ms-transition:transform 0.75s ease-in-out;
}


.quote-container {
    width: 300px;
    word-wrap: break-word;
    margin: 50px;
    align-self: center;
}

a {
    text-decoration: none;
    color: red;
    opacity: 70%;
}